@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", serif;
  background-color: #f4f2f2da;
}
.menu-bar {
  width: 85%;
  padding: 30px 0;
  margin: 0 auto;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #dfdfdf;
  margin-bottom: 20px;
}
.left-side-wrapper {
  display: flex;
  align-items: center;
  gap: 120px;
}
.menu-iteams ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.menu-iteams ul li a {
  text-decoration: none;
  color: #6d6d6d;
}
.right-side-wrapper i {
  color: #6d6d6d;
}
/* header end  */

/* main content start  */
/* .content-a-z {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
} */

.content-a-z {
  width: 96%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 50px;
  margin: 0 auto;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.all-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-wrapper {
  height: 1400px;

  width: 45%;

  padding: 20px;
}
.big-img img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.thumbnail-image1 {
  border: 3px solid blue;
}
.thumbnail-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.thumbnail-image {
  height: 140px;
  width: 130px;
  gap: 5px;
}
.thumbnail-image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
/* img side end  */

/* text side start  */

.text-wrapper {
  /* height: 500px; */
  height: 1400px;
  width: 55%;
  padding: 20px;
}
.products-details {
  align-items: center;
  justify-content: center;
}
.products-details h1 {
  font-size: 48px;
}
.price-part {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #6d6d6d;
  margin-bottom: 5px;
}
.price-part p {
  font-weight: 600;
  font-size: 30px;
}

.parcent-off {
  padding: 1px 7px;

  border: 2px solid orange;
  border-radius: 10px;
  color: orange;
  background-color: rgba(255, 166, 0, 0.078);
  margin-bottom: 15px;
  display: inline-block;
}

.rating-star {
  color: orange;
  margin-bottom: 25px;
}
.rating-star p {
  color: black;
  font-weight: 600;
  display: inline-block;
  margin-right: 8px;
}
.rating-star a {
  margin-left: 8px;
  text-decoration: none;
}
.some-lines {
  margin-bottom: 25px;
}
.some-lines p {
  color: #6d6d6d;
}
.available-color-wrapper {
  margin-bottom: 25px;
}
.color-mark {
  display: flex;
  gap: 20px;
}
.available-color {
  color: #6d6d6d;
  font-weight: 500;
  margin-bottom: 15px;
}
.color1 {
  background-color: rgb(6, 201, 6);
  height: 45px;
  width: 45px;
  border: 2px solid rgb(5, 5, 181);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.color1 p {
  font-size: 28px;
  color: white;
}

.color2 {
  background-color: rgb(239, 157, 6);
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.available-sizes {
  margin-bottom: 25px;
}
.available-sizes p {
  color: #6d6d6d;
  font-weight: 500;
  margin-bottom: 15px;
}

.size-wrapper {
  display: flex;
  gap: 30px;
}
.size {
  border: 1px solid #6d6d6d34;
  border-radius: 5px;
  padding: 10px 20px;
}
.size a {
  color: black;
  text-decoration: none;
}
.size-s .size {
  border-color: blue;
}
.quantity-wrapper {
  margin-bottom: 30px;
}
.button-wrapper {
  width: 130px;
  border: 2px solid #6d6d6d34;
  border-radius: 5px;
  gap: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quantity {
  color: #6d6d6d;
  font-weight: 500;
  margin-bottom: 15px;
}
.button-wrapper .btn {
  border: none;
  background-color: transparent;
}
.cart-btn-wrapper {
  height: 50px;
  width: 90%;
  background-color: rgb(5, 5, 181);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.add-cart-btn {
  border: none;
  background-color: transparent;
  color: white;
}
.features-details {
  margin-top: 30px;
}

.features-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.minus-mark {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid#6d6d6d;

  background-color: transparent;
}
.minus-mark i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6d6d6d;
}
.features-head h4 {
  color: #6d6d6d;
  margin-bottom: 15px;
}
.feature-list {
  padding-left: 25px;
}
.feature-list ul li {
  color: #6d6d6d;
}
/* first page ends  */

/* second page start  */
.content-two {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.all-content-second-page {
  align-items: center;
  justify-content: center;
}
.top-part {
  margin-bottom: 45px;
}
.top-part h1 {
  font-size: 48px;
  margin-bottom: 15px;
}
.top-part p {
  color: #6d6d6d;
}
.head-area {
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.475);
}
.headings {
  display: flex;
  gap: 60px;
  /* margin-bottom: 8px; */
}

.headings a {
  color: #6d6d6d;
  text-decoration: none;
  font-size: 17px;
}
.sus-color {
  border-bottom: 1px solid rgb(5, 5, 181);
}
.headings .sus-color p {
  color: rgb(5, 5, 181);
  margin-bottom: 8px;
}

.product-area-wrapper {
  display: flex;
  gap: 20px;

  margin-bottom: 80px;
}
.product-img {
  width: 35%;
  /* background-color: aqua; */
}
.photo1 img {
  height: 350px;
  width: 100%;
  border-radius: 10px;
}
.product-details {
  width: 65%;
  padding: 15px;
}
.eco-friendly-para {
  margin-bottom: 50px;
}
.eco-friendly-para h1 {
  margin-bottom: 15px;
}
.eco-friendly-para p {
  color: #6d6d6d;
}
.recycle-water {
  display: flex;
  align-items: center;

  gap: 120px;
}
.left-side-wrapper {
}
.left-side {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 20px;
}

.left-side i {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(5, 5, 181);
  border: 1px solid rgba(128, 128, 128, 0.21);
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.more-collection {
  margin: 0 auto;

  margin-bottom: 250px;
}
.more-collection h1 {
  font-size: 25px;
  color: #6d6d6d;
  margin-bottom: 15px;
}
.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.more-product-img {
  height: 300px;
  width: 290px;
  color: #6d6d6d;
}

.more-product-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.more-products p {
  margin-bottom: 10px;
}
.more-product-price {
  margin-bottom: 15px;
}
.more-product-price .price-delete {
  font-size: 13px;
  margin-left: 7px;
}
.dot-mark {
  display: flex;
  gap: 8px;
}
.color-dot-one {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: black;
}
.color-dot-two {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #6d6d6d;
}
.color-dot-blue-serial-three {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: rgb(5, 5, 181);
}
.footer-section {
}
.footer-top-area-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.left-upper-side {
}
.left-upper-side h3 {
  margin-bottom: 10px;
}
.left-upper-side p {
  color: #6d6d6d;
}
.right-upper-side {
}
.right-upper-side input {
  padding: 8px;
  border: 1px solid rgba(128, 128, 128, 0.744);
  border-radius: 5px;
}
.right-upper-side button {
  color: white;
  background-color: rgb(5, 5, 181);
  padding: 9px;
  border: none;
  border-radius: 5px;
}
.footer-middle-area-wrapper {
  display: flex;
  color: #6d6d6d;
  gap: 350px;
  margin-bottom: 60px;
}
.footer-middle-area-wrapper img {
  margin-bottom: 15px;
}

.right-middle-side {
  display: flex;
  gap: 200px;
}
.shop-categories p {
  margin-bottom: 15px;
}
.shop-categories ul li {
  line-height: 2;
  font-weight: 600;
  list-style: none;
}
.shop-collection p {
  margin-bottom: 15px;
}
.shop-collection ul li {
  line-height: 2;
  font-weight: 600;
  list-style: none;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid #6d6d6d47;
}
.social-media {
  margin-top: 15px;
}
.footer-bottom .copyright {
  margin-top: 15px;
  color: #6d6d6d;
}
.media-icon {
  margin-right: 15px;
}
.social-media a {
  color: #6d6d6d;
}
